html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    color: white;
}

body {
    display: table-cell;
    vertical-align: middle;
    background : black;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.fields {
        width: 650px;
        height: 650px;
        margin: auto;
        display: block;
}
.field {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    background: white;
    display: block;
    float: left;
}
.field-o {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    background: url(../images/o.png);
    display: block;
    float: left;
}
.field-x {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    background: url(../images/x.png);
    display: block;
    float: left;
}
#reset {
   width: 110px;
   height: 30px;
   margin: 5px;
   background: gray;
   text-align: center;
   font-size: 25px;
}